<h1>Show File Record</h1>

<p>
  <strong>Title: </strong>
  <%= @file_record.title %>
</p>

<%= link_to 'Back', file_records_path %>
<%= link_to 'Edit', edit_file_record_path(@file_record) %>
<br><br>

<select name="offices">
  <option selected>---Choose Office---</option>
  <option> 
    <% @file_record.steps.each do |step| %>
  	 <%= step.office.name %><br>
    <% end %>
  </option>
</select>

